.cart-icon {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon {
        width: 36px;
        height: 36px;
    }

    .item-count {
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        bottom: 11px;
        left: 17px;
    }
}